.single-film {
    border-radius: 5px;
    width: 274px;
    border-radius: 5px;
    }

  .film-image {
    border-radius: 5px;
  }

  .film-info {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 2px;
  }

  .film-subinfo {
    display: flex;
    color: $mainColor;
    padding-top: 5px;
    align-items: center;
  }

  .film-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
    color: $mainFontColor;
  }

  .film-genre, .film-year {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0em;
    text-align: left;
  }

  .film-year {
    padding-left: 5px;
  }

  @media screen and (min-width: 1200px) {
    .single-film {
      cursor: pointer;

      box-shadow:  none;

      &:hover {
        -webkit-box-shadow: 2px 2px 60px 1px rgba(255, 127, 0, 1);
        -moz-box-shadow: 2px 2px 60px 1px rgba(255, 127, 0, 1);
        box-shadow:  rgba(255, 127, 0, 1) 0.95px 0.95px 3.6px 0px;
        border-radius: 5px;
        scale: 104%;
        opacity: 0.86;
        transition:  $transitionEffect;
      }
    }
  }