header {
    background-color: black;
}

.header {
    &__container {
        padding-top: 45px;
        padding-bottom: 45px;
        width: 320px;
        height: 230px;
        background-image: url(../images/backgrounds/background320.png);
        background-color: black;
        color: $secondaryFontColor;

        &--myLibrary {
            background-image: url(../images/backgrounds/background320.png)
        }
    }


    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

.logo {
    &__title {
        display: none;
        font-weight: 500;
        font-size: 30px;
        line-height: 36px;
        align-self: center;
    }

    &__icon {
        width: 24px;
        height: 24px;
        stroke: #818181;



    }

}

.nav {
    display: flex;
    align-items: start;
    justify-content: center;

    &__item {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        transition: color $transitionEffect;

        &:not(:first-child) {
            margin-left: 40px;
        }

        &:hover,
        :focus {
            color: $mainColor;
        }

    }

}

.search {
    &__form {
        display: flex;
        margin: 40px auto auto;
        justify-content: center;
    }

    &__input {
        position: relative;
        color: $secondaryFontColor;
        background-color: #00000000;
        width: 280px;
        border: none;
        border-bottom: 0.1px solid #FFFFFF;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        outline: none;

        &::placeholder {
            color: $secondaryFontColor;
        }
    }

    &__button {
        left: 260px;
        bottom: 20px;

        position: relative;
        right: 50px;

        background-color: transparent;
        border: none;

    }

    &__icon {
        width: 12px;
        height: 12px;
        stroke: $secondaryFontColor;
        transition: stroke $transitionEffect;

        :hover {
            stroke: $mainColor;
            cursor: pointer;
        }
    }

}

.active {
    &::after {

        display: block;
        content: "";
        width: inherit;
        height: 3px;
        background-color: $mainColor;

    }
}

@media screen and (min-width: 1024px) {



    .header {
        &__container {
            width: auto;
            max-width: 1024px;
            background-image: url(../images/backgrounds/background1024.png);

            &--myLibrary {
                background-image: url(../images/backgrounds/background1024myLibrary.png)
            }
        }
    }

    .logo {
        &__title {
            display: inline-block;
        }
    }

    .search {
        &__input {
            width: 340px;
        }

        &__button {
            left: -20px;
            bottom: 0px;
        }
    }
}