.film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 20px;
}

.single-film {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 4px 6px grey;
}

.single-film:hover {
  cursor: pointer;
  scale: 102%;
  opacity: 0.9;
  box-shadow: 2px 4px 8px grey;
}

.film-image {
  border-radius: 3px;
  height: 398px;
  width: 274px;
  margin: 0
}

.film-title {
  font-weight: 500;
  color: $mainFontColor;
  font-size: 12px;
  line-height: 1, 33;
  margin: 10px 0 5px 5px;
}


.film-subinfo {
  color: $secondaryColor;
  font-weight: 500;
  font-size: 12px;
  line-height: 1, 33;
  margin: 0px 0 5px 5px;
}

.genreDate {
  display: flex;
  flex-wrap: wrap;
}


.footer {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 28px;
    background-color: #f7f7f7;
  }


}

@media screen and (min-width: 480px) and (max-width: 768px) {
.single-film {
    flex-basis: calc((100% + 50px) / 3);
  }

.film-image {
  border-radius: 5px;
  height: 398px;
  width: 293px;
  margin: 0
}

  .footer {
    &__container {
      flex-direction: row;
      justify-content: center;
      height: 77px;
    }
  }
}

// Paginacja
.pagination {
  display: flex;
  justify-content: center;
  margin: 40px auto;


  &__list {
    display: flex;

    &>li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-right: 3px;
      width: 40px;
      height: 40px;
      transition: color $transitionEffect, background-color $transitionEffect;
      cursor: pointer;

      &:hover {
        background-color: $mainColor;
        color: $secondaryFontColor;
      }
    }

  }

}

.btn {
  background-color: #f7f7f7;

  &__active {
    color: $secondaryFontColor;
    background-color: $mainColor;
  }
}

li.dots {
  display: none;
}

@media screen and (min-width: 480px) {
  li.dots {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .single-film{
    flex-basis: calc((100% + 50px) / 4);
  }
}