<footer class="container footer__container">
    <span class="footer__elements footer__elements--part1">© 2022 | All Rights Reserved |</span>
    <span class="footer__elements footer__elements--part2">Developed with
        <!-- <svg class="heart-icon" width="14px" height="13px">
                <use href="images/icons.svg#heart-icon">
                </use>
            </svg> -->
        by   <a href="https://goit.global/textbooks/javascript-yk5evp/v2/pl/docs/lesson-22/async-await">
            GoIT Students</a>

    </span>
</footer>