<footer class="footer">
    <div class="container">
        <div>
            <p>© 2022 | All Rights Reserved |</p>
        </div>
        <div>
            <p>Developed with</p>
            <svg class="heart-icon" width="14px" height="13px">
                <!-- <use href="images/icons.svg#heart-icon">
                </use> -->
            </svg>
            <p>by
                <a href="https://goit.global/textbooks/javascript-yk5evp/v2/pl/docs/lesson-22/async-await">GoIT
                    Students</a>
            </p>
        </div>
    </div>
</footer>