<footer class="container footer__container">
    <span class="footer__elements footer__elements--part1">© 2022 | All Rights Reserved |</span>
    <span class="footer__elements footer__elements--part2">Developed with
        <svg class="icon-heart" width="14px" height="13px">
                <use href="./images/icon-heart.svg#icon-heart">
                </use>
            </svg>
        by   <button id="footerBtn" class="ourTeamBtn">GoIT Students</button>

        <div id="footerModal" class="ourTeamModal">
            <div class="modal-content">

                <span id="footerCloseBtn" class="ourTeamCloseBtn">&times;</span>

                <h3 class="our-team__header">Our Team</h3>

                <ul class="our-team__list">
                    <li class="our-team__item">Mateusz Gonera</li>
                    <li class="our-team__item">Dominika Sosnowska</li>
                    <li class="our-team__item">Kuba Lisowski</li>
                    <li class="our-team__item">Michał Rutkowski</li>
                    <li class="our-team__item">Patryk Mika</li>
                    <li class="our-team__item">Piotr Koczkodaj</li>
                    <li class="our-team__item">Klaudia Król</li>
                </ul>
            </div>
        </div>    
</footer>

<button id="scroll_Btn" class="scroll_top">
    <svg class="scroll" width="50" height="50">
        <use href="./images/scroll.svg#icon-scroll-up"></use>
    </svg>