<div class="container">
    <!-- do tego diva możemy dodawać filmy z API -->
    <div class="film-list">
        <!-- szablon na pojedyńczy film -->
        <div class="single-film">
            <!-- `${urlFromApi}` --> <img class="film-image" src="https://fwcdn.pl/ppo/01/48/148/450012.2.jpg"
                alt="Tu też może być coś z API">
            <div class="film-info">
                <p class="film-title">Tytuł z API</p>
                <div class="film-subinfo">
                    <p>Gatunek z API</p>
                    <p>Rok produkcji z API</p>
                </div>
            </div>
        </div>
    </div>
    <!--nie wiem czy lepiej zrobić listę czy na divach -->
    <div class="page-list">
        <div class="page-list-item">&#8592</div>
        <div class="page-list-item-threeDots">...</div>
        <div class="page-list-item">page</div>
        <div class="page-list-item">page+1</div>
        <div class="page-list-item">page+2</div>
        <div class="page-list-item">page+3</div>
        <div class="page-list-item">page+4</div>
        <div class="page-list-item-threeDots">...</div>
        <div class="page-list-item">&#8594</div>
    </div>
</div>