<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn">
      <svg class="modal__close-btn--icon">
        <!-- <use href="./images/sprite.svg#icon-x"></use> -->
      </svg>
    </button>

    <div class="modal__img">
      <img class="modal__img-picture"
        src="https://www.google.com/search?q=bee&tbm=isch&sxsrf=ALiCzsa4n9kmkMPnabH1sLLcafgFnk05qw%3A1662667343164&source=hp&biw=1360&bih=617&ei=T0oaY8qUB66Mxc8P1dCP4A4&iflsig=AJiK0e8AAAAAYxpYX2GGNhJ9dLWC3rFjemQ0JXlmgTAr&ved=0ahUKEwiK-PbC_oX6AhUuRvEDHVXoA-wQ4dUDCAc&uact=5&oq=bee&gs_lcp=CgNpbWcQAzIICAAQgAQQsQMyCAgAEIAEELEDMggIABCABBCxAzIICAAQgAQQsQMyCAgAEIAEELEDMggIABCABBCxAzIFCAAQgAQyBQgAEIAEMgsIABCABBCxAxCDATIFCAAQgAQ6BwgjEOoCECc6BAgjECc6CAgAELEDEIMBOgQIABADUI4ZWMMbYK4caAJwAHgAgAFgiAH6AZIBATOYAQCgAQGqAQtnd3Mtd2l6LWltZ7ABCg&sclient=img#imgrc=qxhj88r9ZC1nOM"
        alt="obraz" />
    </div>

    <div class="modal__content">
      <h2 class="modal__head">A FISTFUL OF LEAD</h2>
      <ul class="modal__list">
        <li class="modal__item ">
          <span class="modal__votes modal__parameters">Vote / Votes</span>
          <div class="modal_wrapper">
          <span class="modal__rating">7.3</span> / <span class="modal__votes-number">1260</span></span>
          </div>
        </li>
        <li class="modal__item">
          <span class="modal__popularity modal__parameters">Popularity</span>
          <span class="modal__popularity-total">100.2</span>
        </li>
        <li class="modal__item">
          <span class="modal__title modal__parameters">Original Title</span>
          <span class="modal__title-original ">A FISTFUL OF LEAD</span>
        </li>
        <li class="modal__item">
          <span class="modal__genre modal__parameters">Genre</span>
          <span class="modal__genre-description">Western </span>
        </li>
      </ul>

      <h2 class="modal__about">About</h2>
      <p class="modal__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns.
        But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned
        gold mine where they happen across another gang of three
        – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they
        realise the bags of gold are filled with lead... they’ve been double crossed
        – but by who and how?</p>

      <div class="modal__button-container">
        <button class="modal__button-watched modal__buttons" type="button">ADD TO WATCHED</button>
        <button class="modal__button-queue modal__buttons" type="button">ADD TO QUEUE</button>
      </div>
    </div>
  </div>
</div>