<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="modal__close-btn--icon">
        <!-- <use href="./images/sprite.svg#icon-x"></use> -->
      </svg>
    </button>

    <div class="modal__img"></div>

    <div class="modal__content">
      <h2 class="modal__head"></h2>
      <ul class="modal__list">
        <li class="modal__item ">
          <span class="modal__votes modal__parameters">Vote / Votes</span>
          <div class="modal_wrapper">
          <span class="modal__rating"></span> / <span class="modal__votes-number"></span></span>
          </div>
        </li>
        <li class="modal__item">
          <span class="modal__popularity modal__parameters">Popularity</span>
          <span class="modal__popularity-total"></span>
        </li>
        <li class="modal__item">
          <span class="modal__title modal__parameters"></span>
          <span class="modal__title-original "></span>
        </li>
        <li class="modal__item">
          <span class="modal__genre modal__parameters"></span>
          <span class="modal__genre-description"></span>
        </li>
      </ul>

      <h2 class="modal__about">About</h2>
      <p class="modal__text"></p>

      <div class="modal__button-container">
        <button class="modal__button-watched modal__buttons" type="button">ADD TO WATCHED</button>
        <button class="modal__button-queue modal__buttons" type="button">ADD TO QUEUE</button>
      </div>
    </div>
  </div>
</div>