<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button type="button" class="close-btn">
        <svg>
        <use></use>
        </svg>
      </button>

      <div class="modal__img">
        <img
        class="modal__img-picture"
        src=""
        alt=""
        />
      </div>

      <div class="modal__content">
        <h2 class="modal__head"></h2>
        <ul class="modal__list">
          <li class="modal__item">
            <span class="modal__votes"></span>
            <span class="modal__rating"></span>
          </li>
          <li class="modal__item">
            <span class="modal__popularity"></span>
            <span class="modal__popularity-total"></span>
          </li>
          <li class="modal__item">
            <span class="modal__title"></span>
            <span class="modal__title-original"></span>
          </li>
          <li class="modal__item">
            <span class="modal__genre"></span>
            <span class="modal__genre-description"></span>
          </li>
        </ul>

        <h2 class="modal__description-about"></h2>
        <p class="modal__description-text"></p>

      <div class="modal__button-container">
        <button class="modal__button-watched" type="button">ADD TO WATCHED</button>
        <button class="modal__button-queue" type="button">ADD TO QUEUE</button>
      </div>
      </div>
    </div>
  </div>