<main class="container main__container-library">
    <!-- do tego diva możemy dodawać filmy z API -->
    <div class="film-list">
        <!-- szablon na pojedyńczy film -->
        <div class="single-film">
            <!-- `${urlFromApi}` --> <img class="film-image" src="https://fwcdn.pl/ppo/01/48/148/450012.2.jpg"
                alt="Tu też może być coś z API">
            <div class="film-info">
                <p class="film-title">Tytuł z API</p>
                <div class="film-subinfo">
                    <p>Gatunek z API</p>
                    <p>Rok produkcji z API</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="pagination">
        <span class="btn prev">&#8592</span>
        <ul class="pagination__list">

            <li class="num-first"><span>1</span></li>
            <li class="dots"><span>...</span></li>
            <li class="num"><span>5</span></li>
            <li class="num"><span>6</span></li>
            <li class="num btn__active"><span>7</span></li>
            <li class="num"><span>8</span></li>
            <li class="num"><span>9</span></li>
            <li class="dots"><span>...</span></li>
            <li class="num-last"><span>20</span></li>

        </ul>
        <span class="btn next">&#8594</span>
    </div> -->
</main>